#Block_items {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
  }
  .like-button {
    border-radius: 0.5rem;
    background-color: white;
    cursor: pointer;
    border: solid 1px #4E5166;
  }
  #Block_items :hover {
    background-color: #FFD7D7;
    color: white;
  }