footer{
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
form#form_txt {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#text {
  width: 100%;
  border-radius: 1rem;
  text-align: center;
  border: solid 1px #A22A2A;
}
#btn {
  display: flex;
}
.btt_footer {
  border-radius: 1rem;
  padding: 0.5rem;
}
.button {
  outline: none;
  height: 60px;
  text-align: center;
  width: 150px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #A22A2A;
  color: #A22A2A;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
.input-file {
  display: none;
}
.button:hover {
  color: white;
  background: #A22A2A;
}
.button:active {
  letter-spacing: 2px;
}
