/* Modification du code html via au balise */
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
div#actualiter_received {
  border: solid 1px rgb(34, 72, 242);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 5px 5px 15px 5px #7F7F7F;
  width: 500px;
  margin-bottom: 4rem;
}
#UserName{
  margin: 0;
}
#Time{
  font-weight: 100;
  margin: 0;
  grid-area: 2;
}
div#info {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  justify-items: center;
}
div#Block_Contenue {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 500vh;
  height: 200vh;
  padding-top: 2rem;
}
#img{
  border-radius: 1rem 1rem 0rem 0rem ;
  width: 100%;
}
div#block_contenue {
  box-shadow: 5px 5px 15px 5px #7f7f7f;
  border-radius: 1rem;
}
div#contenue {
  align-items: center;
  margin-top: 5px;
}
/* #block_menu {
  font-size: 2rem;
} */
.Button{
  outline: none;
  text-align: center;
  width: 100px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid rgb(34, 72, 242);
  color: rgb(34, 72, 242);
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
.Button:hover {
  color: white;
  background:  rgb(34, 72, 242);
}
.Button:active {
  letter-spacing: 2px;
}
#Delete{
  border: 2px solid #A22A2A;
  color: #A22A2A;
}
#Delete:hover {
  color: white;
  background:  #A22A2A;
}
.input_home{
  border-radius: 1rem;
  background: #fff;
  border: 2px solid rgb(34, 72, 242);
  color: rgb(34, 72, 242);

}
#nav_home{
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 50% 50%;
  padding-top: 1rem;
  /* justify-content: space-evenly; */
}
#form_txt_rc {
  display: flex;
  /* width: 50%; */
  }