a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
div#actualiter_received {
  border: solid 1px #4E5166;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 5px 5px 15px 5px #4E5166;
  width: 500px;
  margin-bottom: 4rem;
}
#UserName{
  margin: 0;
}
#Time{
  font-weight: 100;
  margin: 0;
  grid-area: 2;
  font-size: 20px;
}
div#info {
  display: grid;
  grid-template-columns: [first]50% [line2]50%;
  grid-template-rows: [row-first]50% [row-line2]50%;
  width: 100%;
  justify-items: center;
}
div#Block_Contenue {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 500vh;
  height: 200vh;
  padding-top: 2rem;
}
#img{
  border-radius: 1rem 1rem 0rem 0rem ;
  width: 100%;
}
div#block_contenue {
  box-shadow: 5px 5px 15px 5px #4E5166;
  border-radius: 1rem;
}
div#contenue {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

}
.Button{
  outline: none;
  text-align: center;
  width: 100px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #FFD7D7;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
.Button:hover {
  background:  #FFD7D7;
  color: white;
}
.Button:active {
  letter-spacing: 2px;
}
#Delete{
  border: 2px solid #FD2D01;
}
#Delete:hover {
  color: white;
  background:  #FD2D01;
}
.input_home{
  border-radius: 1rem;
  background: #fff;
  border: 2px solid #FFD7D7;
} 
nav#nav_home {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-top: 1rem;
}
#form_txt_rc {
  display: flex;
  }