@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* page Connexion  */
    #box_connexion {
        grid-template:"a" "b";
        gap: 5rem;
        width: 100%;
    }
    section#section_Signup {
        border : none;
        padding: 0;
    }
    section#section_Login {
        padding: 0;
    }
    #Block_Login{
        width: auto;
    }
    div#Block_Signup{
        width: auto;
    }
    /* page Connexion fin --------------------*/

    /* header */
    div#header_navbar {
        width: fit-content;
    }
    div#header {
        flex-direction: column;
    }
    #nav {
        display: flex;
    align-items: center;
    flex-direction: row;
    }
    img#img_Logo {
        /* width:; */
        padding-left: 0;
    }
    /* header fin */

    /* page home  */
    section#Block_Actualité {
        font-size: 25px;
    }
    div#Block_Contenue {
        margin-bottom: 6rem;
    }
    /* div#actualiter_received {
        margin: 0;
    } */
    div#actualiter_send{
        margin-left: 0;
    }
    div#message_send {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
    #menu:focus ul {
        top: 25rem;
        left: 0;
        width: 99%;
        height: 15%;
        justify-content: space-evenly;
    }
    /* page home fin -------------------- */

    /* components footer  */
    form#form_txt{
        margin-bottom: 1rem;
    }
    #text{
        font-size: 25px;
    }
    #btn{
        flex-direction: column;
        width: 35%;
    }
    /* components footer fin -------------------- */

    /* page setting*/
    #section_principal {
    flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 115%;
    margin-left: 2.5rem;
    }
    section.setting_user {
       margin-bottom: 4rem;
    }
    /* page setting fin -------------------- */


}