@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* page Connexion  */
    #box_connexion {
        grid-template:"a" "b";
        gap: 5rem;
        width: 100%;
    }
    section#section_Signup {
        border : none;
        padding: 0;
    }
    section#section_Login {
        padding: 0;
    }
    #Block_Login{
        width: auto;
    }
    div#Block_Signup{
        width: auto;
    }
    /* page Connexion fin --------------------*/

    /* header */
    div#header {
        flex-direction: column;
    }
    img#img_Logo {
        width:90% !important;
        padding-left: 0;
    }
    ul#nav_liste {
        padding: 0;
    }
    li.li_nav {
        margin: 1rem !important;
    }
    /* header fin */

    /* page home  */
    section#Block_Actualité {
        font-size: 25px;
    }
    div#Block_Contenue {
        margin-bottom: 6rem;
    }
    div#actualiter_received {
        width: 355px;
        padding: 1rem;
    }
    /* div#actualiter_received {
        margin: 0;
    } */
    div#actualiter_send{
        margin-left: 0;
    }
    div#message_send {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
    #menu:focus ul {
        top: 25rem;
        left: 0;
        width: 99%;
        height: 15%;
        justify-content: space-evenly;
    }
    h1#UserName {
        font-size: x-large;
    }
    #form_txt_rc {
        width: 50%;
    }
    div#item {
        grid-row: 1 / 3;
        align-self: center;
        grid-column: 2 / 3;
    }
    /* page home fin -------------------- */

    /* components footer  */
    footer{
        padding: 0;
    }
    form#form_txt{
        margin-bottom: 1rem;
    }
    #text{
        font-size: 25px;
    }
    #btn{
        flex-direction: column;
        width: 60%;
    }
    .item_btn{
        width: 100%;
    }
    /* components footer fin -------------------- */

    /* page setting*/
    #section_principal {
    flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 115%;
    margin-left: 2.5rem;
    }
    section.setting_user {
       margin-bottom: 4rem;
    }
    /* page setting fin -------------------- */


}