/* ------régalge-------*/
h3 {
    margin-left: 1rem;
}
#H1{
    text-align: center;
}
/* ------section principal-------*/

section#section_principal {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

/* ------section principale fin -------*/
/* ------section setting-------*/

ul#ul_setting {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
}
li.li_setting {
    padding-top: 1rem;
    display: flex;
    align-items: center;
}
section.setting_user {
    border-radius: 1rem;
    box-shadow: 5px 5px 15px 5px #A0A0A0;
    border: solid 1px #A0A0A0;

}
.btt_Setting{
    outline: none;
    height: 40px;
    text-align: center;
    width: 100px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #A0A0A0;
    color: rgb(111, 111, 111);
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}
.btt_Setting:hover {
    color: white;
    background:  #A0A0A0;
}
.btt_Setting:active {
    letter-spacing: 2px;
}
ul#ul_infos {
    list-style: none;
    padding: 0.5rem;
}
li.li_infos {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    border: solid 1px #A0A0A0;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #a0a0a090;
}
.input_setting{
    border-radius: 1rem;
    margin-left: 0.5rem;
    border: solid 1px black; 
}
/* ------section statut fin-------*/