body {
    margin: 0;
    background-color: white;
  }
#txt_h2 {
    border-bottom: 2px solid #000000;
  }
  /* ------nav logo-------*/
  nav#nav_Logo_co {
    display: flex;
    justify-content: center;
  }
  /* ------nav logo fin-------*/
  /* ------section box_connexion-------*/
  #box_connexion {
    display: grid;
    align-items: center;
    grid-template: "a b ";
  }
  /* ------section box_connexion fin -------*/
  /* ------section login-------*/
  section#section_Login {
    padding-left: 15rem;
  }
  #Block_Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(13, 89, 255, 0.644);
    padding: 1rem ;
    border: solid 1px rgb(255, 255, 255);
    width: 50%;
    box-shadow: 5px 5px 30px 9px #0D59FF;
  }
  form#form_connexion {
    display: flex;
    flex-direction: column;
  }
  input {
    border-radius: 3rem;
  }
  /* ------section login fin-------*/
  /* ------section singup-------*/
  section#section_Signup {
    border-left: 2px solid black;
    padding-left: 15rem;
  }
  div#Block_Signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(13, 89, 255, 0.644);
    padding: 1rem ;
    border: solid 1px rgb(255, 255, 255);
    width: 50%;
    box-shadow: 5px 5px 30px 9px #0D59FF;
  }
  form#form_inscription {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  /* ------section singup fin-------*/
 
  
  /*---------------Connexion.html fin---------------------*/
  