a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
/*---------------section actualité ---------------------*/
#Block_Actualité {
  text-align: center;
  min-height: 100vh;
  background-color: rgba(13, 89, 255, 0.644);
}

div#Block_Contenue{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#actualiter_received {
  border-radius: 1rem;
  border: #000 solid 1px;
  margin: 1rem;
  width: 50%;
  background-color: rgb(255, 255, 255) ;
  box-shadow: 5px 0px 30px -4px #FFFFFF;
}

#actualiter_Send{
  border-radius: 1rem;
  border: #0000005b solid 1px;
  margin: 1rem;
  width: 50%;
  background-color: rgb(202, 202, 202) ;
  box-shadow: 5px 0px 30px -4px #FFFFFF;
}

#actualiter_send {
  border-radius: 1rem;
  border: #0000005b solid 1px;
  background-color: rgba(9, 135, 238, 0.123);
  margin: 1rem;
}

form#form_txt_rc {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

textarea#txt_modify {
  border-radius: 1rem;
  text-align: center;
}

.Button {
  cursor: pointer;
}

#img {
  max-width: 70%;
}

#file{
  border: solid 1px black;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: white ;
}
/*---------------section actualité fin---------------------*/
ul#menu li {
  list-style: none;
}
ul#block_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 0;
}
div#block_item {
  display: flex;
  justify-content: center;
}
ul#menu {
  padding-left: 0;
}